body {
    font-family: "Avenir Next";
  }
  
  li {
    list-style: none;
    float: left;
    /* Ubahlah padding atas & bawah ke 33px, dan padding kiri & kanan ke 20px */
    padding: 33px 20px;
  }
  
  .header {
    background-color: #82589F;
    color: #fff;
    height: 90px;
    width: 100%;
    background-image: url(logo_temalebaran.jpg);
    position: fixed;
    top: 0;
    z-index: 10;
  }
  
  .header-logo {
    float: left;
    font-size: 36px;
    /* Ubahlah padding atas & bawah ke 20px, dan padding kiri & kanan ke 40px */
    padding: 20px 40px;
    font-family: 'Courier New', Courier, monospace;
  }
  a {
    text-decoration: none;
}

.container {
    width: 1170px;
    padding: 0 15px;
    margin-left: 0 auto;
}

.top-wrapper {
    padding: 180px 0 100px 0;
    color: #291b00;
    background-image: url(logo_temalebaran.jpg);  
    background: cover;
    text-align: left;
}
.top-wrapper h1 {
    opacity: 0.7;
    font-size: 45px;
    letter-spacing: 5px;
    margin-bottom: 10px;
    
}
.top-wrapper p {
    opacity: 0.7px;
    margin-bottom: 3px;
}
.btn {
    padding: 12px 24px;
    color:white;
    display: inline-block;
    background-color: #291b00;
    opacity: 0.8;
    border-radius: 4px;
}
.btn-wrapper {
    margin: 20px 0;
  }
.btn:hover {
    opacity: 2;
}
.fa {
    margin-right: 5px;
}
.food-wrapper {
    height: 500px;
    padding-bottom: 80px;
    background-color: #f7f7f7;
    text-align: center;
  }
  
  .heading {
    padding-top: 40px;
    padding-bottom: 30px;
    color: #5f5d60;
  }
  
  .heading h2 {
    font-weight: normal;
  }
  
  .food {
    float: left;
    width: 25%;
    
    

  }
  
  .food-icon {
    position: relative;
    
  }
  
  .food-icon p {
    position: absolute;
    bottom: 5px;
    background-color:rgb(197, 184, 6);
    width:100%;
    color: black;
    text-align: center;

  }
  
  .txt-contents {
    width: 800;
    display: inline-block;
    margin-top: 20px;
    font-size: 15px;
    color: #b3aeb5;
  }
  
  .heading h3 {
    font-weight: normal;
  }
  
  .message-wrapper {
    border-bottom: 1px solid #eee;
    padding-bottom: 80px;
    text-align: center;
  }
  
  .message {
    padding: 15px 40px;
    background-color: #5dca88;
    cursor: pointer;
    box-shadow: 0 7px #1a7940;
  }
  
  .message:active {
    position: relative;
    top: 7px;
    box-shadow: none;
  }
  
  footer {           
    text-align: center;
    color:white;
    background: #946302; 
    width: 100%;
    padding: 2px;
  }
